.login__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(146.2deg, #ff0055 0%, #000066 100%),
    linear-gradient(316.52deg, #ff0055 0%, #000066 100%);
  font-family: 'Sharp';
}
.login__container_section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
  border-radius: 10px;
}

.left__section {
  border: 2px solid red;
  height: 90%;
  width: 90%;
  flex: 1;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  padding: 2rem;
}

.left__section_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  height: 100%;
}

.section__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  margin-top: 1rem;
}
.google_icon {
  height: 1.9rem;
}

.top__section {
  display: flex;
  align-items: flex-end;
}
.top__section_title {
  font-size: 2.8rem;
}
.top__section_description {
  font-size: 0.8rem;
  color: rgb(98, 97, 97);
}
.top__section_img {
  height: 4rem;
}
.signUp_text {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.forgotPassword {
  align-self: flex-end;
}
.right_section {
  display: none;

  height: 90%;
  width: 90%;
  flex: 1;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  padding: 2rem;
  background-image: url('../../assets/img/animated-logo.gif');
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 568px) {
  .login__container_section {
    max-width: 500px;
  }
}

@media screen and (min-width: 868px) {
  .login__container_section {
    max-width: 1200px;
    max-height: 640px;
  }
  .left__section {
    display: flex;
    border-radius: 10px 0 0 10px;
    height: 640px;
    justify-content: center;
    align-items: center;
  }
  .left__section_wrapper {
    justify-content: center;
    max-width: 80%;
  }
  .right_section {
    border-radius: 0 10px 10px 0;
    display: block;
    height: 640px;
  }
}
