.success__container {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 3px solid black;
  background: linear-gradient(146.2deg, #ff0055 0%, #000066 100%),
    linear-gradient(316.52deg, #ff0055 0%, #000066 100%);
}

.success__container_section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 90%;
  height: 60%;
  background: rgba(58, 17, 17, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
}

.success__section_wrapper {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 100%;
}
.left_section,
.right_section {
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
}
