.series__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 90%;
  margin-top: -5rem;
  padding: 2rem;
  background-image: url("../../assets/img/background-series.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.series__image {
  height: 25rem;
  border-radius: 10px;
}
.series__title {
  margin-bottom: 2rem;
  margin-top: 15rem;
}

.alice-carousel__wrapper {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .series__title {
    height: 2.5rem;
  }
  .series__container {
    height: 90vh;
    background-position: initial;
    margin-top: -15rem;
  }
  .series__image {
    height: 20rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .series__title {
    height: 3.5rem;
  }
}
