.navbar__container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  gap: 3rem;
  width: 90%;
}

.navbar__item {
  color: white;
  text-decoration: none;
}
.navbar__item:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}

.navbar__logo {
  height: 2rem;
}

.navbar__loginButton {
  padding: 0.6rem 1rem;
  font-family: "Sharp";
  border: 2px solid white;
  color: white;
  background-color: transparent;
  font-size: 1.3rem;
}

.navbar__loginButton:hover {
  cursor: pointer;
}
.total__wrapper {
  align-self: flex-end;
}

.MuiList-root {
  width: auto;
  padding: 0.5rem !important;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  -font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.MuiPaper-root {
  display: flex;
  justify-content: center;
}
.cart__logo {
  height: 2.5rem;
}

@media screen and (max-width: 768px) {
  .navbar__container {
    justify-content: space-between;
  }
  .navbar__item {
    display: none;
  }
  .navbar__item_img {
    display: block;
  }
  .MuiList-root {
    width: 20rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar__container {
    justify-content: center;
    gap: 2rem;
  }
}
