@import url("./assets/css/reset.css");
@font-face {
  font-family: "Squid";
  src: local("Squid"),
    url("./assets/fonts/Game\ Of\ Squids.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Sharp";
  src: local("Sharp"),
    url("./assets/fonts/SharpGrotesk-Book15.otf") format("truetype");
  font-weight: bold;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  background: linear-gradient(146.2deg, #ff0055 0%, #000066 100%),
    linear-gradient(316.52deg, #ff0055 0%, #000066 100%);
}

.squid_font {
  font-family: "Squid";
}

.sharp_font {
  font-family: "Sharp";
  font-size: 1.3rem;
}
